.idea/*
assignment1/__pycache__/
assignment2/__pycache__/
assignment3/__pycache__/
assignment3/.ipynb_checkpoints/Assignment3-checkpoint.ipynb
assignment3/Assignment3.ipynb
assignment3/Velocitytest.py
assignment4/b.npz.npy
assignment4/c.npz.npy
assignment4/functions.py
assignment4/pruebas.py
assignment4/U.npz.npy
assignment4/V.npz.npy
assignment4/W.npz.npy
assignment4/loss.npz.npy
assignment4/__pycache__/functions.cpython-38.pyc